*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white;
	font-size: 15px;
	overflow-x: hidden;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('../image/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.logo{
	float: left;
	height: 100px;
	width: auto;
	margin-top: 30px;

}

.logo1{
	float: left;
	height: 100px;
	width: auto;
	margin-top: 30px;
}
.main_div{
	width: 100%;
	height: 100vh;
	position: relative;
}
.box{
	width: 400px;
	position: absolute;
	top: 70%;
	left: 80%;
	transform: translate(-45%,-50%);
	padding: 30px;
	background:  rgba(255,101,40,0.9);
	border-radius: 20px; 
}
.box h1{
	margin-bottom:  30px;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
}
.box .inputBox{
	position: relative;
}
.box .inputBox input{
	width: 100%;
	padding: 15px;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 3px solid #000000;
	background: transparent;
}
.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	transition: 0.2s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
	top: -30px;
	left: 0;
	color: #FFF;
	font-size: 16px;
}
.box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #000000;
	background: #fff;
	padding: 10px 40px;
	border-radius: 30px;
	font-size: 18px;
}
.box input[type="submit"]:hover{
	color: #fff;
	background: #000000;
	font-style: bold;
	}